<h1><a href="https://github.com/naiyt/circlecistats_rails">CircleCI Stats</a>, version 0.0.1</h1>

<h3>Average build time: <%= @average %> minutes</h3>

<h3>Longest build time:</h4>

<%= render "shared/build", :build => @maximum %>